<div class="jumbotron">
  <div class="container">
    <h2 class="text-center"><%= @job.title%></h2>
    <div class="text-center">
      <div class="box">
        <div class="box-content">
          <h1 class="tag-title"><%= simple_format(@job.description)%></h1>
          <hr />
          <p>来吧，勇士！</p>
          <br />
          <%= link_to("RESUME", new_job_resume_path(@job), class: "btn btn-success")%>
        </div>
      </div>
    </div>
  </div>
</div>
