<div class="jumbotron">
  <h1><%= @job.title%></h1>
  <p><%= simple_format(@job.description)%></p>
  <div class="text-center">
    <%= link_to("RESUME", new_job_resume_path(@job), class: "btn btn-success")%>
  </div>
</div>
<!--3d-->
<figure id=blinds-window>
  <img src=/img/3d5.jpg alt class=first>
  <img src=/img/3d5.jpg alt class=first>
  <img src=/img/3d5.jpg alt class=first>
  <img src=/img/3d5.jpg alt class=first>
  <img src=/img/3d5.jpg alt class=first>
  <img src=/img/3d5.jpg alt class=first>
  <img src=/img/3d5.jpg alt class=first>
  <img src=/img/3d5.jpg alt class=first>
  <img src=/img/3d5.jpg alt class=first>
  <img src=/img/3d5.jpg alt class=first>
  <img src=/img/3d6.jpg alt class=second>
  <img src=/img/3d6.jpg alt class=second>
  <img src=/img/3d6.jpg alt class=second>
  <img src=/img/3d6.jpg alt class=second>
  <img src=/img/3d6.jpg alt class=second>
  <img src=/img/3d6.jpg alt class=second>
  <img src=/img/3d6.jpg alt class=second>
  <img src=/img/3d6.jpg alt class=second>
  <img src=/img/3d6.jpg alt class=second>
  <img src=/img/3d6.jpg alt class=second>
</figure>
