<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
  <source src="video.mp4" type="video/mp4">
</video>
<div id="polina">
  <h1>Ice & Fire</h1>
  <p>filmed by GTR 2017</p>
  <button>播放暂停</button>
  <button><%= link_to("点击进入", welcome_index_path)%></button>
</div>
<br>
<script>
  var vid = document.getElementById("bgvid");
                                                                          var pauseButton = document.querySelector("#polina button");

                                                                          if (window.matchMedia('(prefers-reduced-motion)').matches) {
                                                                              vid.removeAttribute("autoplay");
                                                                              vid.pause();
                                                                              pauseButton.innerHTML = "Paused";
                                                                          }

                                                                          function vidFade() {
                                                                            vid.classList.add("stopfade");
                                                                          }

                                                                          vid.addEventListener('ended', function()
                                                                          {
                                                                          // only functional if "loop" is removed
                                                                          vid.pause();
                                                                          // to capture IE10
                                                                          vidFade();
                                                                          });


                                                                          pauseButton.addEventListener("click", function() {
                                                                            vid.classList.toggle("stopfade");
                                                                            if (vid.paused) {
                                                                              vid.play();
                                                                              pauseButton.innerHTML = "Pause";
                                                                            } else {
                                                                              vid.pause();
                                                                              pauseButton.innerHTML = "Paused";
                                                                            }
                                                                          })
</script>
